body{
    background: linear-gradient(150deg, #fadd63 40%, #b87d4b 40%);
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 70%;
    margin: auto;
}

@media screen and (min-width: 1000px){
    main{
        max-width: 40%;
    }

}

h1{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}
.questionDiv{
    background-color: #e5eafa;
    border-radius: 10px 10px 10px 10px;
}
.question{
    background-color: #2f0601;
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    min-height: 50px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
.answersDiv{
    min-height: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* text-align: center;*/
}
/* .inputLabelDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
} */

.buttonDiv{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

button{
    background-color: #2f0601;
    color: whitesmoke;
    border: 1px solid #2f0601;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    transition: 0.6s;
    opacity: 1;
}

button:hover{
    opacity: 0.8;
}

button:active{
    transform: scale(2, 0.5);
}
.scoreDisplay{
    background-color: #e5eafa;
    border-radius: 5px;
    padding: 10px;
    min-height: 20px;
}