body{
    background: linear-gradient(150deg, #fadd63 40%, #b87d4b 40%);;
}

main{
    max-width: 70%;
    margin: auto;
}

@media screen and (min-width: 1000px){
    main{
        max-width: 40%;
    }

}

h1{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}
.questionDiv{
    background-color: #e5eafa;
}
.question{
    background-color: #2f0601;
    color: whitesmoke;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
.answersDiv{
    min-height: 50px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* text-align: center;*/
    font-family: 'Roboto', sans-serif;
}
/* .inputLabelDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
} */

.buttonDiv{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}